.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Styling of navbar*/

.main-nav {
  color: black;
  width: 60 px;
  height: 50px;
  display: flex;
  align-items: center;
  /* margin: 10px; */
  border-radius: 0px;
  background-color: rgb(83, 74, 74);
}

.logo img {
  display: flex;
  /* margin-bottom: 10px; */
  /* padding-left: 20px; */
  /* padding-bottom: 35px; */
  height: 30px;
  width: 100px;
  border: radius 7px;
  ;
  /* background-color: bisque; */
}

.element1 h4 a {
  display: flex;
  margin-left: 700px;
  text-decoration: none;
  color: black;
}

.element2 h4 a {
  display: flex;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

.element3 h4 a {
  display: flex;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}